<div class="settings-container">
  <h3 class="center">{{ language?.bookingSettings }}</h3>
  <div *ngIf="loading" style="height: 80vh">
    <div class="spinner loading"></div>
  </div>

  <h4>{{language.generalBookingSettings}}</h4>
  <app-dynamic-forms *ngIf="!loading" [path]="path" [file]="file" [data]="data" (submit)="saveConfig($event)">
  </app-dynamic-forms>

  <hr>

  <div>
    <h4>{{language.generateBookingOnlineLink}}</h4>
    <button class="btn btn-default" (click)="generateOnlineLink()">{{language.copyBookingLinkToClipboard}}</button>
  </div>

  <hr>

  <div class="mt-4">
    <h4>{{language.connectToStripeTitle}}</h4>
    <p>{{language.connectToStripeText}}</p>
    <div>
      <button *ngIf="!stripeActivated" class="btn btn-default" (click)="connectToStripe()"><i
          class="fa fa-spinner fa-spin" *ngIf="buttonLoader"></i> {{language.connectToStripeButton}}</button>
      <button *ngIf="stripeActivated"
        class="btn btn-success font-weight-bold">{{language.stripeIsSuccessfulyConnected}}</button>

      <div class="mt-4" *ngIf="stripeActivated">
        <app-dynamic-forms *ngIf="!loading" [path]="pathPayment" [file]="filePayment" [data]="data"
          (submit)="saveConfig($event)">
        </app-dynamic-forms>
      </div>
    </div>
  </div>
</div>