<app-home-navigation-menu [language]="language"
  (sendEventForChangeLanguage)="sendEventForChangeLanguage($event)"></app-home-navigation-menu>

<!--pricing section start-->
<section class="pricing-section pt-60 position-relative" *ngIf="language">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">{{ language.priceSectionUpText }}</h4>
          <h1>{{ language.priceSectionTitle }}</h1>
          <p>
            {{ language.priceSectionText }}
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-primary-soft rounded-circle d-block mr-3">
            <i class="fa fa-credit-card text-primary"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionNoNeedCreditCard }}
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-success-soft rounded-circle d-block mr-3">
            <i class="fa fa-calendar text-success"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionTryPeriod }}
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-danger-soft rounded-circle d-block mr-3">
            <i class="fa fa-minus text-danger"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionAnytimeCancel }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--pricing section end-->

<section *ngIf="language.priceTable">
  <div class="main">
    <table class="price-table">
      <tbody>
        <tr class="price-table-head btn-info">
          <td class="col-xs-3"></td>
          <td *ngFor="let item of language.priceTable.header"
            class="col-xs-{{ 9 / language.priceTable.header.length }}">
            <p>{{ item.nameOfPackageTitle }}</p>
            <small style="font-size: 12px; font-weight: 400">{{
              item.nameOfPackageText
              }}</small>
          </td>
        </tr>
        <tr>
          <td class="col-xs-3"></td>

          <td *ngFor="let item of language.priceTable.header"
            class="price col-xs-{{ 9 / language.priceTable.header.length }}">
            {{ item.price }} €
          </td>
        </tr>
        <tr *ngFor="let item of language.priceTable.functions">
          <td class="col-xs-3">
            {{ item.name }}
          </td>
          <td *ngFor="let description of item.descriptionPerPackages"
            class="col-xs-{{ 9 / language.priceTable.header.length }}">
            <i *ngIf="description === 'not-exists'" class="fa fa-times"></i>
            <i *ngIf="description === 'exists'" class="fa fa-check"></i>
            <span *ngIf="description !== 'exists' && description !== 'not-exists'">{{ description }}</span>
          </td>
        </tr>
        <tr>
          <td></td>

          <td *ngFor="let item of language.priceTable.header" class="price">
            <a class="btn btn-info" (click)="getStarted(item.nameOfPackageTitle, item.price)">{{ language.getStarted
              }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<app-feature-section [language]="language"></app-feature-section>

<app-subscribe-section [language]="language"></app-subscribe-section>

<footer class="footer-section">
  <app-footer-section></app-footer-section>
  <app-home-footer [language]="language"></app-home-footer>
</footer>